<!DOCTYPE html>

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>LIS Viewer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <div class="page-header">
      <h1>Содержание</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul>
            <li><a href="index.html">ЛИС</a></li>
            <li><a href="card2medtest.html">card2medtest</a></li>
            <li><a href="login.html">login</a></li>
        </ul>
        
      </div>
    </div>

  </div>
</body>
</html>
