lis.db
.wingman/
backend/api/migrations/__pycache__/
backend/lis_main/__pycache__/
.idea/snakemake-settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/
*.pyc
lis_main/.env
/.idea/misc.xml
