{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>LIS accept token</title>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static 'bootstrap_v3.3.7/bootstrap.min.css' %}">
  <style>
    body { padding-top: 40px; }
    .login-panel { max-width: 420px; margin: 0 auto; }
  </style>
</head>
<body>
  <div class="container login-panel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Авторизация в ЛИС</h3>
      </div>
      <div class="panel-body">
        <div id="login-result" class="alert" style="display:none; margin-top:15px;">
          Перенаправление...
        </div>
      </div>
    </div>
  </div>

<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
  <script src="{% static 'jquery_v1.12.4/jquery.min.js'%}"></script>
  <script src="{% static 'bootstrap_v3.3.7/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/auth.js'%}"></script>

  <script type="text/javascript">
    {% include "lis_auth/accept_token.js" %}
  </script>

</body>
</html>
